body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerLayout {
  width: auto;
  height: auto;
  display: grid;
  grid: "title version" 1fr / 70% 30%;
}

.webAppLayout {
  width: auto;
  height: auto;
  display: grid;
  grid: "sidebar body" 1fr / 30% 70%;
  gap: 8px;
}

.title { 
  grid-area: title;
  align-content: center;
  text-align: center;
  vertical-align: center;
}
.version { 
  grid-area: version; 
  align-content: center;
  text-align: center;
  vertical-align: center;

}

.sidebar { grid-area: sidebar; }
.body { grid-area: body; }