.SpecMonitorApp {
  text-align: center;
  height: fit-content;
}

  .monitor-header {
    width: auto;
    height: fit-content;
    display: grid;
    grid: "monitor-header-icon monitor-header-text" 1fr / 30% 70%;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .monitor-header-icon {
    grid-area: monitor-header-icon;
    align-content: center;
  }

  .monitor-header-text {
    grid-area: monitor-header-text;
    font-size: calc(10px + 1vmin);
  }

  .monitor-field {
    width: auto;
    height: fit-content;
    display: grid;
    grid: "monitor-field-label monitor-field-value" 1fr/ 40% 60%;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .monitor-field-label {
    grid-area: monitor-field-label;
    font-size: calc(10px + 1vmin);
  }

  .monitor-field-value {
    grid-area: monitor-field-value;
    font-size: calc(10px + 1vmin);
  }
