.pannelGlassBackground {
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .pannelGlassContentBackground {
    background: rgba(78, 75, 75, 0.199);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.527);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 251, 251, 0.267);
  }

  .testLogo {
    height: calc(6vmin);
    pointer-events: none;
  }

  .App-link {
    color: #1b7eef;
  }

  .divider {
    border-top: 1px solid gray;
    margin: 1px 70px;
    padding-bottom: 10px;
  }
  